@using Mvc.Mailer
<html>
<head>
</head>
<body>
    <div style="font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;background-color:#fdfdfd;margin:0;width:100%!important">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" width="640">
                            <tbody>
                                <tr>
                                    <td style="padding:20px"><img src="@Url.Abs(Url.Content("~/Content/images/logo.png"))" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;background-color:#fff;border:solid 1px #ededed!important" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" style="padding:55px 10px 30px">
                                                                        <h2 style="margin:0;font-size:23px;font-weight:400;color:#2e3645">@ViewBag.Subject</h2>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding-bottom:30px">
                                                                        <p style="font-size: 15px; font-weight: 300; color: #a5a5a5; line-height: 1.4; margin: 0 10px">
                                                                            @RenderBody()
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-bottom:40px;border-bottom:1px solid #ededed">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:45px;margin:0 auto;table-layout:fixed" width="280">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" bgcolor="#3bca96">
                                                                        @RenderSection("mainButton",required:false)
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:20px;padding-bottom:50px">
                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-top:dotted 1px #e1e1e1;color:#a5a5a5" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding:10px 0 30px">Future proof your career..</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="font-weight:300">© 2015 @Product.Name. Hyderabad, Tengana, India</td>
                                                </tr>
                                                @*<tr>
                                                    <td align="center" style="padding-top:10px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="300">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center" width="55"><a href="http://contractorspool.com/blog/?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email" style="color:#a5a5a5;font-weight:300;text-decoration:none" target="_blank">Blog</a></td>
                                                                    <td align="center" width="55"><a href="https://github.com/contractorspool?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email" style="color:#a5a5a5;font-weight:300;text-decoration:none" target="_blank">Github</a></td>
                                                                    <td align="center" width="55"><a href="https://twitter.com/contractorspool?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email" style="color:#a5a5a5;font-weight:300;text-decoration:none" target="_blank">Twitter</a></td>
                                                                    <td align="center" width="68"><a href="https://www.facebook.com/contractorspool?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email" style="color:#a5a5a5;font-weight:300;text-decoration:none" target="_blank">Facebook</a></td>
                                                                    <td align="center" width="67"><a href="https://www.linkedin.com/company/contractorspool?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email" style="color:#a5a5a5;font-weight:300;text-decoration:none" target="_blank">LinkedIn</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>*@
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>