@using Mvc.Mailer
@{
    Layout = "_Layout.cshtml";
}
<p>
    Hello <b>@ViewBag.Invite.Name</b><br/>
    <b>@ViewBag.By</b> has invited you to signup as Contractor on @Product.Name By clicking on the following link, you are agreeing to @Product.Name's
    <a href="@Url.Abs(Url.Action("Home", "Terms"))" target="_blank">Terms of Service</a>.
</p>
@section mainButton{
    <a href="@Url.Abs(Url.Action("Invite", "Account",new {code=ViewBag.Invite.Code}))"
       style="font-size: 13px; color: #ffffff; background-color: #3bca96; text-decoration: none; text-decoration: none; padding: 11px 44px 10px; border: 1px solid #3bca96; display: inline-block" target="_blank">
        Accept Invitation
    </a>
}