@model Warehouse.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title.</h2>

@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
{
    <div class="note note-danger note-bordered">
        <button class="close" data-close="alert"></button>
        <span class="errors">
            <strong>Ooops...</strong>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </span>
    </div>
}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label visible-ie8 visible-ie9" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control form-control-solid placeholder-no-fix", Placeholder = "Old Password" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label visible-ie8 visible-ie9" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control form-control-solid placeholder-no-fix", Placeholder = "New Password" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label visible-ie8 visible-ie9" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-solid placeholder-no-fix", Placeholder = "Confirm Password" })
    </div>
    <div class="form-actions">
        <a href="@Url.Action("Index", "Home")" class="btn default">Back</a>
        <button type="submit" class="btn btn-success uppercase pull-right">Change Password</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}