@{
    var pgClass = ViewBag.PageClass;
    if (string.IsNullOrWhiteSpace(pgClass))
    {
        pgClass="login";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@Url.Content("~/")">
    <title>@Product.Name | Login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/pages/css/login.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/pages/css/error.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/content/images/favicon.png">
</head>
<body class="@pgClass">
    @if (ViewBag.PageClass != "page-500-full-page")
    {
        <div class="menu-toggler sidebar-toggler"></div>
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/images/logo-big.png" class="hidden-xs" alt="Contractor's Pool" />
                <img src="~/Content/images/logo-big.png" class="visible-xs img-responsive" alt="Contractor's Pool" />
            </a>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    }
    else
    {
        @RenderBody()
    }
    @RenderSection("Scripts", false)
</body>
</html>