@{
    var pgClass = ViewBag.PageClass;
    if (string.IsNullOrWhiteSpace(pgClass))
    {
        pgClass="login";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@Url.Content("~/")">
    <title>@Product.Name | Login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    @Styles.Render("~/Content/spa/css-1")
    @Styles.Render("~/Content/spa/unsecured")
    <link rel="shortcut icon" href="~/content/images/favicon.png">
</head>
<body class="@pgClass">
    @if (ViewBag.PageClass != "page-500-full-page")
    {
        <div class="menu-toggler sidebar-toggler"></div>
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/images/logo.png" class="hidden-xs" alt="@Product.Name" />
                <img src="~/Content/images/logo@2x.png" class="visible-xs img-responsive" alt="@Product.Name" />
            </a>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    }
    else
    {
        @RenderBody()
    }
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>