@model Warehouse.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>&nbsp;</p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <h4>Or login with</h4>
            <ul class="social-icons">

                @foreach (AuthenticationDescription p in loginProviders)
                    {
                        var pk = p.AuthenticationType.ToLower();
                        <li>
                            <button type="submit" class="social-icon-color link-btn @pk" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"></button>
                        </li>
                }

            </ul>
        }
    }
}
